#footer{
    margin-top:  550px !important;
    margin: 0;
}
.top{
    display:flex;
    gap:50px;
    
}
#itemy{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}
.bottom{
   margin-top: -70px;
    margin-left:61%;
}
.direction{
    color: black !important;
    text-decoration: none;
}
.bottom{
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
 #footer{
    font-size: 12px;
 }
   
}